<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>

    </style>
</head>
<body>
    <div class="div">Password Reset</div>
    <form action="" method="post">
        <div class="new-pass">
            <label for="newPassword">New password</label>
            <input type="text" id="newPassword" name="newPassword" required>
        </div>
        <div class="confirm-pass">
            <label for="confirmPassword">New password</label>
            <input type="text" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>